<% title "Preview for #{@survey.job_title}" %>
<% highlight_tab logged_in? ? "surveys" : "survey" %>
<h2>Survey Preview</h2>
<p>This is how your survey will look.  If you are not satisfied, you can make changes before the survey is published.
  You may make changes to a survey at any time after the survey is published as well.</p>
<div id="survey_preview_box">
  <%= render :partial => "questions/participation_form"%>
</div>
<p>

<%= if @survey.invitations.size == 0 then
   link_to "Continue", @invitation.nil? ? survey_invitations_path(@survey) : create_with_network_survey_invitations_path(@survey, :invitation => { :network_id => @invitation })
   else
    link_to "Finish", survey_path(@survey)
end %>
or 
<%= link_to "Edit the Survey", edit_survey_path(@survey) %>
</p>
<script>
function disableForm(){
  var f = document.getElementsByTagName('input');
  for(var i=0;i<f.length;i++){
      f[i].setAttribute('disabled',true)
  }
}
</script>
<% content_for :initialize_js, "disableForm();"%>
