<% title "Signup" %>
<% highlight_tab "join" %>
<div class="image_header"><%= image_tag "signup_banner.gif" %></div>
<div class="main_page">
<h3>We have received your signup request.</h3>
<h4>What's next?</h4>
<ol>
<li>
One of our representatives will contact you by phone to verify your request within three business days.
</li>
<li>
Once we have completed verification, you will receive an email with a link allowing you to set up an account and password.
</li>
</ol>
<p>In the meantime, feel free to read more about <%= link_to 'how CompSage works', home_path('how') %>. Don't hesitate to <%= link_to 'contact us', contact_path %> if you have any questions.</p>
</div>  
