<% title "Signup" %>
<% highlight_tab "join" %>
<div class="image_header"><%= image_tag "signup_banner.gif" %></div>
<div class="main_page">
<h3>Thanks! We have received your information.</h3>
<h4>What's next?</h4>
<ol>
<li>
We will call you within three business days to verify your account details.
</li>
<li>
Afterwards, we will send you an email with a link to access CompSage.
</li>
</ol>
<p>
In the meantime, read more about <%= link_to 'how CompSage works', home_path('how') %> and <%= link_to 'contact us', contact_path %> if you have any questions.</p>
</div>  
