config/database.yml
db/schema.rb
log/*
config/fiveruns_tuneup.yml
public/logos/*
public/*/tuneup
test
tmp/*
db/sphinx
config/development.sphinx.conf
*.swp
.DS_Store
coverage/*
config/test.sphinx.conf
public/javascripts/base_packaged.js
public/stylesheets/base_packaged.css
public/stylesheets/printer_packaged.css

