<li>
	<p class="body">
  	<% if discussion.responder.eql?(@survey.sponsor) then %>
	    <span class="sponsor">Sponsor: </span>
	  <% end %>
	  <span id="discussion_body_<%=discussion.id%>"><%= discussion.body %></span>
  	<% if !current_organization_or_survey_invitation.eql?(discussion.responder) then %>
			<%=link_to "Report Abuse", report_survey_discussion_path(@survey,discussion), :class => "abuse" %>  
	  <% end %>
	</p>	
</li>
