<% title "Editing #{@network.name}" %>
<% breadcrumbs(link_to("Your Networks", networks_path)) %>
<% highlight_tab "networks" %>

<h2>Editing <%=@network.name%></h2>
<%=render(:partial => "network_form") %>

