<html>
<body>
<p>
  Your request to join Compsage has been approved. To get started, please <%=link_to "click here", new_account_path(:key => @pending_account.key, :only_path => false)%>.
</p>
<p>
  Thanks,
  <br />
  CompSage.com
</p>
</body>
</html>
