<html>
<body>
<p>
Dear <%=@survey.sponsor.contact_name%>,

Your survey on <%=@survey.job_title%> has finished, but you did not get the required number of participants to provide results.  You can either choose to leave it as is, or rerun the survey with additional participants.

To view the survey, follow the link below:

<%=url_for(survey_path(@survey, :only_path => false))%>

Thanks,
The Shawarma Team
</p>
</body>
</html>