<%
  highlight_tab "settings"
  title "Settings &amp; Branding"
%>
<h2>Settings &amp; Branding</h2>
<h3>Standard Questions</h3>
<p><%= link_to "Standard Questions", association_pdqs_path %></p>
<h3>Custom Greeting</h3>
<p>Set a custom message for the assoc landing page.</p>
<h3>Branding</h3>
<p>Logo Upload</p>

