table {
  border-collapse: collapse;
  margin-bottom: 1em;
  border: 1px solid #455349;
}

table th {
  background-color: #eee;
  border-bottom: 1px solid #666;
  text-align: left;
}

caption {
  margin-top: 1em;
  font-size: 1.1em;
  color: #fff;
  padding: 5px;
  background-color: #455349;
  margin-left: -1px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

td, th {
  padding: 2px 5px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #455349;
  border-right: 1px solid #455349;
}

table tr:last-child td {
  border-bottom: 1px solid #455349;
}

