body, #container {
  background: none;
}

#header, #container_cap, #footer {
  display: none;
}

a {
  text-decoration: none;
  color: #000000;
}
/* Report Page */
a#invitation_list_link {
  font-size: 1.1em;
}

a.print_link {
  display: none;
}

dl.hidden {
	display :none;
}

#suspect_results, #formatting_section, #top_join_link, #invoice_link {
	display :none;
}

/* invoice page */
ul.invoice {
  list-style-type: none;
  padding-left: 1em;
}

dl.invoice dt {
  float: left;
  margin-right: .5em;
  width: 8em;
  margin-right: 1em;
  text-align: right;
  font-weight: bold;
}
