/*    Layout    */

#title {
  background-image: url('/images/title-background-dark.gif');
  height: 50px;
  padding: 0 0 0 10px;
  margin: 0px;
}

#bar {
  background-image: url('/images/bar.jpg');
  color: #fff;
  font-weight: bold;
  padding: 1px;
  margin: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  float: left;
  width: 100%;
}

#bar ul {
  margin: 0px;
  padding: 2px 0 0 10%;
}
#bar li {
  list-style: none;
  float: left; 
  padding: 0 10px;
}

#bar a {
  color: #fff;
  text-decoration: none;
  float: left;
}

#bar li.selected a {
    color: #8D353F;
}
#bar a:hover {
  text-decoration: underline;
}

#bar li.selected {
  background: #fff;
  color: #25615a;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  margin-bottom: -1px;
  padding-top: 1px;
  position: relative;
}

div.tab_row {
  margin-left: -30px;
  margin-right: -30px;
  padding-left: 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
div.tab_row a {
  padding-right: 20px;
}

div.tab_row a.selected {
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}

div.tab_container {
  padding-left: 20px;
  padding-right: 20px;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #999;
  border-top: none;
}

#breadcrumbs{
  margin-top: 2px;
  padding-top: 2px;
  font-size: 90%; 
  color: #666;
  float: right;
  display: inline;
}

#breadcrumbs a{
  color: #666;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

#details{
  border-bottom: 1px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: gray;
}

#respondees{
  padding-top: 5px;
}

/* Element Styles */

body {
  font-family: helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #efefee;
  color: #333;
}

a {
  color: #21313d;
}

a:visited {
  color: #324a5c;
}

a:hover {
  color: #507693;
}

h1 {
  color: #8D353F;
  font-family: serif;
  font-size: 1.5em;
  margin-top: 10px;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
}

h2 {
  padding-bottom: 2px;
  border-bottom: 1px dotted #ddd;
  font-size: 1.3em;
  color: #5C3437;
  font-weight: normal;
  font-style: italic;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}
form label {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  margin-right: 10px;
}

table td {
  border-bottom: 1px solid #cccccc;
  padding-right:3px;
}
table td, table th {
  padding: 2px 10px 2px 10px;
}

table tr.odd td {
  background-color: #eeeeee;
}

table th {
  border-bottom: 2px solid;
  background-color: #8d363f;
  background-image: url('/images/table-header.jpg');
  background-repeat: repeat-x;
  color: #fff;
}

/*    Classes    */
a.more {
    font-size: 110%;
}

a.new {
  font-weight:bold;
}

.warning{
    font-size: 90%;
    color: red;
  text-align:right;
  font-weight:italic; 
}

.normal{
    font-size: 90%;
    color: green;
  text-align:right;
  font-weight:italic; 
}

.caution{
    font-size: 90%;
    color: gray;
  text-align:right;
  font-weight:italic;
}

.discuss-response{
  padding-left: 30px;
  margin-bottom: 5px;
}

.discuss-response-odd{
  padding-left: 30px;
  background-color: #eeeeee;
}

.discuss-topic {
  background-color: #eeeeee;
}

.discussion { 
  border: 1px solid #cccccc;
}

.discuss-body {
  padding: 5px;
}

.discuss-reply {
  float: right;
  margin-right:5px;
  margin-top:5px;
}

#survey-list .summary-info{
  font-size:70%;
}

.info {
    font-size: 80%;
    color: #666;
}

div.no_options_horizontal label {
  display: inline;
  margin-right: 5px;
}

div.no_options_vertical label {
  display: block;
}

div.options_horizontal label {
  display: inline;
  margin-right: 5px;
}
div.options_vertical label {
  display: block;
}

.graph {
  float: right;
  width: 400px;
  height: 200px;
  margin-right: 20px;
  border: 3px dashed;
  background-color: #ccc;
}

.button, .button:visited {
  color: #d5e9e8;
  padding: 5px;
  background-image: url('/images/bar.jpg');
  text-decoration: none;
  margin: 5px;
  font-weight: bold;
  letter-spacing: .1em;
  border: 1px solid #345c59;
}

.button:hover {
  color: #fff;
}

.fixed {
  width: 300px;
}

.form_box {
  width: 500px;
}
.form_box .submit_row {
  background-color: #345b59;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

div.button_list div {
  width: 300px;
  border: 1px solid;
  padding: 2px;
  margin: 2px;
  color: #d5e9e8;
  text-decoration: none;
  letter-spacing: .1em;
  border: 1px solid #345c59;
  background-image: url('/images/bar.jpg');
  font-size: .9em;
}

div.button_list div.blurred {
  color: #fff;
  font-weight: bold;
}