/* Generic Element Styles */
body {
	background: #faf6f0 url('../images/header_background.gif') repeat-x;
	margin: 0;
	padding: 0;
	font-family: 'Adobe Garamond Pro', 'Adobe Garamond', 'AGaramond', 'Hoefler Text', 'Baskerville', 'Times New Roman', serif;
  color: #333;
  font-size: 1em;
}

p {
	margin-top: 0;
}


h2 {
	font-size: 1.3em;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
	color: #455349;
	letter-spacing: -0.025em;
  margin-top: 0em;
}

h3 {
	margin-bottom: .25em;
  font-size: 1.142857em;
	line-height: 1em;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
	color: #333;
}

h4 {
  font-size: 1.07142857em;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
  margin-bottom: 0;
  margin-top: 1em;
}

a {
	color: #084f82;
}

a:hover {
	color: #11609f;
}

h3 a {
	color:#084f82;
}

h3 a:hover {
  text-decoration: underline;
}

a img {
	vertical-align: middle;
}
table th {
	text-align: left;	
}

img {
	border: 0;
}

input[type=text], input[type=password] {
	padding: 5px;
	font-size: 1em;
	border: 1px solid #3f3f3e;
	background-color: #fefdfb;
}

textarea {
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
	padding: 5px;
	letter-spacing: .05em;
	font-weight: normal;
	font-size: 1em;
	border: 1px solid #3f3f3e;
	background-color: #fffefc;
}

/* Specific element styles */

/* Header stuff*/
#header, #container, #container_cap {
	width: 818px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 53px;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
  background: url('../images/inner_header_background.gif');
}

#header.front {
  background: url('../images/inner_header_background_front.gif') right no-repeat;
}

#header img {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

#header #nav {
	height: 28px;
	list-style-type: none;
	margin: 0;
	padding-top: 23px;
}

#header #nav li {
	display: block;
	float: left;
	font-size: 17px;
	padding: 0px 20px 2px 20px;
	height: 28px;
}

#header #nav.surveys_nav li#surveys {
	background: url('../images/selected_menu_item.gif') bottom center no-repeat;
}

#header #nav.networks_nav li#networks {
	background: url('../images/selected_menu_item.gif') bottom center no-repeat;
}

#header #nav.home_nav li#home {
  background: url('../images/banner_selected_menu_item.gif') bottom center no-repeat;
}

#header #nav.join_nav li#join,
#header #nav.how_nav li#how, 
#header #nav.contact_nav li#contact {
  background: url('../images/selected_menu_item.gif') bottom center no-repeat;
}
#header #nav li a {
	text-decoration: none;
	color: #dee9e1;
	display: block;
}

#header #nav li a:hover {
	color: #f1fdf5;
}

#header #account_settings {
	text-align: center;
	float: right;
	background: url('../images/login_background.gif') no-repeat;
	height: 53px;
	width: 194px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
}

#header #account_settings a {
	text-decoration: none;
	color: #dee9e1;
	padding: 0 2px;
	font-size: 13px;
}
#header #account_settings a:hover {
	color: #f1fdf5;
}

/* Body stuff */
#container {
	background: #fbfaf8 url('../images/main_background.gif') repeat-y;
	padding: 0px 8px 0px 11px;
	width: 799px;
	position: relative;
}

#container_cap {
	background: url('../images/footer_background.gif');
	height: 17px;
}

#main_content {
  padding: 1em 5px 5px 5px;
}

#main_content.with_side_bar {
	width: 512px;
	margin-left: 266px;
}

/* Footer stuff */

#footer {
  text-align: center;
  color: #666;
}

#footer ul.links {
  list-style-type: none;
  margin: 0.5em 0 0.5em 0;
  padding: 0;
}

#footer ul.links li {
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

#copyright {
  font-size: 0.9em;
}

#copyright a {
  color: #43728b;
  text-decoration: none;
  border-bottom: 1px dotted #43728b;
}


/* Front Page */

div#banner {
  margin: -1em -5px 0 -5px;
  overflow: hidden;
}

div#banner img {
  border: 0;
  padding: 0;
  margin: 0;
  float: left;
}

div#banner #top_banner, div#banner #bottom_banner {
  line-height: 0;
}

div#banner div#login {
  background: url('../images/banner_login.jpg') no-repeat right;
  height: 170px;
  color: #88ccff;
  padding: 56px 0 0 20px;
  float: right;
  width: 246px;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
}

div#banner div#login input {
  padding: 2px;
  font-size: .85em;
}

div#login input.email {
  width: 220px;
} 

div#login input.password {
  width: 110px;
}

div#banner div#login label {
  margin: 2px 0 0 0;
  font-size: 1em;
  font-weight: normal;
  color: #88ccff;
}

div#login a {
  color: #88ccff;
  border-bottom: 1px solid #88ccff;
  text-decoration: none;
  font-size: .9em;
  margin-left: 5px;
}

div.benefit {
  float: left;
}

div.benefit h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

div.surveys_are {
  margin-top: 1em;
	font-family: 'Georgia', 'Times New Roman', serif;
  text-align: center;
	color: #455349;
}

p.main_page {
  margin: 0 10px;
}
/* Survey Sidebar */
#surveys_sidebar {
	width: 246px;
	padding: 0 10px;
	float: left;
}

#surveys_sidebar h2 {
	margin-top: .5em;
}

#surveys_sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#surveys_sidebar li {
	padding-bottom: 1ex;
}

/* Search box */
#search_box {
	float: right;
	width: 246px;
  line-height: 20px;
}

#search_box img {
  margin: 0 -10px 0 0;
  padding: 0;
  vertical-align: middle;
}


#search_box input#search_text {
  padding: 5px 5px 0 5px;
	width: 114px;
  border: 0;
  margin: 0;
  height: 25px;
  background: transparent url('/images/search_surveys_textbox.gif');
  float: left;
}

#search_box input#submit {
  border: 0;
  padding: 0;
  width: 124px;
  height: 30px;
  background: transparent url('/images/search_surveys_submit.gif');
  margin: 0 -5px 0 0;
  float: left;
  cursor: pointer;
}
#my_search_box {
	float: right;
}

#my_search_box input#search_text {
  width: 200px;
}

/* My Surveys */
div#my_surveys ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 1em 0;
	margin-bottom: 1em;
	background: url('../images/embellish.gif') bottom center no-repeat;
}

div#my_surveys li {
  margin-bottom: 0.64285em;
}

div#my_surveys li h3 {
  margin-top: 0;
}

div#my_surveys .status {
  overflow: hidden;
}

div#my_surveys .state, div#my_surveys .participants, div#my_surveys .invitations {
  width: 6.5em;
  float: left;
}

div#my_surveys .state {
  font-weight: bold;
  width: 5em;
}

div#my_surveys .running {
  color: #52795d;
}

div#my_surveys .stalled {
  color: #937979;
  font-weight: bold;
}

div#my_surveys .deadline {
  font-size: 1em;
}

/* Survey show page invitation list */
#invitation_list {
	float: left;
	width: 246px;
	margin: 1em 6px;
}

#invitation_list h3 {
	margin-bottom: 0;
}

#invitation_list ol {
	padding-left: 1.5em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-top: 0;
}

#invitation_list .deadline {
  text-align: center;
  padding-right: 10px;
}

div.link_bar {
	margin-bottom: 1.2857em;
}

div.link_bar a {
	font-size: 1.2857em;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
	padding: 0 1em 0 0;
}

#end_break {
	clear: both;
}

ul.surveys {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.description_box {
	color: #444;
}

div.main_description {
  color: #444;
  margin: -1em 0 1em 0;
  padding-left: 1em;
}
ul.surveys li {
	margin-bottom: 1.2857em;
}

div#invitations ul{
	padding: 0 0 .5em 0;
	margin-bottom: 1.5em;
	background: url('../images/embellish.gif') bottom center no-repeat;
}

ul#discussions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#discussions li {
	margin-bottom: .5em;
}

ul#discussions > li {
	margin-bottom: 1em;
}
ul#discussions ul {
	margin-left: 1em;
	list-style-type: none;
}

ul#discussions .subject {
	font-weight: bold;
  margin-bottom: 0;
}

ul#discussions .actions {
	margin-bottom: .25em;
} 

ul#discussions .body {
  margin-bottom: 0;
}

ul#discussions .date {
  color: #444;
  font-size: .9em;
  letter-spacing: .05em;
  margin-bottom: 0.5em;
}
/* Survey Results Page */

ul#survey_results {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul#survey_results li {

}

.abbrev {
	font-variant: small-caps;
}

span.sponsor, span.manager {
	color: #888;
	font-size: .9em;
}

div.sponsor {
  color: #888;
  font-size: .8em;
  margin-top: -.25em;
  font-weight: normal;
}

div.deadline {
  color: #777;
  font-size: .95em;
}
a.abuse {
	color: #888;
	font-size: .8em	;
}

span.sponsor a, span.manager a, div.sponsor a {
	color: #4e728b;
  text-decoration: none;
}

span.sponsor a:hover, div.sponsor a:hover {
  text-decoration: underline;
}
.description_box {
	color: #555;
	font-size: 1em;
}

.discussion_warning {
	font-style: italic;
	color: #666;
}

/* New Survey Form */

form.new_survey input, form.edit_survey input {
	font-size: .9em;
}

form.new_survey input#survey_job_title, form.edit_survey input#survey_job_title {
	width: 500px;
}

form.new_survey textarea, form.edit_survey textarea {
	width: 500px;
}

#standard_questions h4, #custom_questions h4 {
  margin: 1em 0 0 0;
}
#standard_questions, #custom_questions {
  margin-left: 1em;
}

#standard_questions ul, #custom_questions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#standard_questions ul li label, #custom_questions ul li label {
  display: inline;
  font-weight: normal;
}

#custom_questions ul span.description {
  color: #666;
  font-style: italic;
  margin-left: 1em;
}

#custom_questions label {
  margin: 0.5em 0 0 0;
  line-height: 20px;
  font-weight: normal;
}

#custom_questions input#question_text {
  width: 350px;
  padding: 5px;
	font-size: 1em;
	border: 1px solid #3f3f3e;
	background-color: #fefdfb;
}

#custom_questions select#response_type {
  margin-top: 4px;
}

#custom_questions input#question_submit {
  margin-top: 4px;
}

/* Survey preview */
#survey_preview_box {
  background: #fff url('/images/preview_background.gif') right repeat-y;
  border: 1px solid #000;
  padding: 0 20px 20px 20px;
  margin: 20px;
}

/* Invitations Page */

#current_invitation_list {
  width: 246px;
	padding: 0 10px;
	float: left;
}

#current_invitation_list ol {
	padding-left: 1.5em;
	margin-top: 0;
	padding-top: 0;
}

#current_invitation_list h3 {
  margin-top: 0;
}
#send_invitations {
  width: 512px;
  margin-left: 266px;
}
#send_invitations ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#send_invitations .description {
  font-style: italic;
  color: #666;
}
#send_invitations label {
  margin: 0.5em 0 0 0;
  font-size: 0.9em;
  letter-spacing: .05em;
  line-height: 20px;
  display: block;
}

#send_invitations li label {
  display: inline;
}

#send_invitations input#search {
  width: 350px;
}

#send_invitations #search_results {
  margin-top: 1em;
}

#send_invitations .contact {
  color: #666;
}

#invite_organizations {
  margin-bottom: 2em;
  margin-left: 1em;
}

#external_invitation_form {
  margin-left: 1em;
}
#external_invitation_form label {
  margin-top: 0;
}

#invite_organizations p {
  margin: .5em 0;
}

#survey_finish_links {
  text-align: center;
  font-size: 1.4em;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
}

#question_response_rates {
  width: 512px;
  margin-left: 266px;  
}

/* Survey Questions Page */
div.qualifications {
	display: inline;
}
div.qualifications a {
	font-size: 0.9em;
	color: #666;
	outline: none;
}

div.qualifications .field {
	display: inline;
}

ol#questions {
	padding-left: 0em;
	list-style-type: none;
}

/* Survey Reports */
div.report_item h3 {
  margin-bottom: .5em;
}

div.report_item dl {
  margin-top: 0;
}

div.report_item dl dt {
  font-weight: bold;
  float: left;
  margin-right: .5em;
}

div.report_item dl dd {
  letter-spacing: .1em;
}

div.report_item_suppressed h3 {
  color: #666;
}

div.report_item_suppressed {
  color: #666;
  font-size: .9em;
}

/* Survey stalled */
span.adequate_responses {
  color: green;
}

span.inadequate_responses {
  color: red;
}

/* Networks page */

ul#networks, ul#network_invitations {
  list-style-type: none;
  padding: 0 0 1em 0;
  margin: 0 0 1em 0;
}

ul#network_invitations {
	background: url('../images/embellish.gif') bottom center no-repeat;
}

div#new_network {
  margin-top: -1em;
  margin-bottom: 1em;
}

ul#network_members {
  list-style-type: none;
  padding: 0;
  margin-left: 1em;
}

ul#network_members a.remove {
  color: #888;
  font-size: 0.8em;
}
/* Network form */
form#new_network input#network_name, form#edit_network input#network_name {
  width: 300px;
}

form#new_network textarea#network_description, form#edit_network textarea#network_description {
  width: 300px;
}

form.edit_network ul li label {
  display: inline;
  font-weight: normal;
}

/* Organization Search / Browse */
ul#organizations {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0 0;
}

ul#organizations li {
  margin-bottom: 1em;
}

ul#organizations h3 {
  margin-top: 0em;
}

ul#organizations div.organization_logo {
  float: left;
  margin-right: .2em;
}

ul#organizations form {
  display: inline;
}

dl#organization_information dt {
  width: 5em;
  text-align: right;
  float: left;
  color: #666;
  clear: both;
  margin: 0;
}

dl#organization_information dd {
  margin-left: 6em;
}
/* Flash Notices */
div.flash_notice {
  border: 1px solid #6c8272;
  padding: 10px;
  margin: 1em 5em;
  font-size: 1.2em;
  background: #87a38f;
  color: #fff;
  text-align: center;
}

/* Custom Elements */
label, div.label {
	display: block;
	font-weight: bold;
	margin-top: 1em;
	font-family: "Neue Helvetica", "Helvetica Neue", "Liberation Sans", Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	font-size: 1.14286em;
	color: #333;
}

label.option {
  font-weight: normal;
  font-size: 0.875em;
  margin: 0;
}

label img {
  vertical-align: middle;
  padding-left: 5px;
  margin-bottom: 1px;
}

form div.box_container {
  overflow: hidden;
  width: 100%;
}

form div.box {
  float: left;
  margin-right: 10px;
}

form div.submit {
  margin-top: 1em;
}

div.separator {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

div.fieldWithErrors label {
	color: #900;
}

div.fieldWithErrors {
	display: inline;
}

div.fieldWithErrors input {
	background-color: #fcc;
}

div.errorExplanation {
 font-size: 1.1em; 
}

div.errorExplanation h2 {
  font-size: 1.1em;
  color: #900;
}

div.third_column {
  width: 243px;
  padding: 10px;
}

a.editor_cancel_link {
  padding-left: 1em;
}
/* inline error description for survey fields eg. */
div.error_description {
	display: inline;
	font-style: italic;
	padding: 0 0.5em 0 1em;
	font-weight: bold;
}

span.label {
	font-weight: bold;
}

span.message {
	font-style: italic;
}

p.thumbnail {
  margin-top: 1em;
}

div.actions form select {
  width: 14em;
}
