body {
	background: #faf6f0 url('../images/header_background.gif') repeat-x;
	margin: 0;
	padding: 0;
	font-family: 'Adobe Garamond Pro', 'Adobe Garamond', 'AGaramond', 'Hoefler Text', 'Baskerville', 'Times New Roman', serif;
	font-size: 0.875em;
	color: #333;
}

img {
	border: 0;
}
#header, #container, #container_cap {
	width: 818px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 53px;
 	font-family: 'Adobe Garamond Pro', 'Adobe Garamond', 'AGaramond', 'Hoefler Text', 'Baskerville', 'Times New Roman', serif;
	background: url('../images/inner_header_background.gif');
}

#header img {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}

#header #nav {
	height: 28px;
	list-style-type: none;
	margin: 0;
	padding-top: 25px;
}

#header #nav li {
	display: block;
	float: left;
	font-size: 18px;
	padding: 0px 20px 0 20px;
	height: 28px;
}

#header #nav.surveys li#surveys {
	background: url('../images/selected_menu_item.gif') bottom center no-repeat;
}

#header #nav.networks li#networks {
	background: url('../images/selected_menu_item.gif') bottom center no-repeat;
}
#header #nav li a {
	text-decoration: none;
	color: #dee9e1;
	display: block;
}

#header #nav li a:hover {
	color: #f1fdf5;
}

#header #account_settings {
	text-align: center;
	float: right;
	background: url('../images/login_background.gif') no-repeat;
	height: 53px;
	width: 194px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
}

#header #account_settings a {
	text-decoration: none;
	color: #dee9e1;
	padding: 0 2px;
	font-size: 13px;
}
#header #account_settings a:hover {
	color: #f1fdf5;
}
#container {
	background: #fbfaf8 url('../images/main_background.gif') repeat-y;
	padding: 0px 8px 0px 11px;
	width: 799px;
	position: relative;
}

#container_cap {
	background: url('../images/footer_background.gif');
	height: 17px;
}

#my_surveys {
	width: 246px;
	padding: 0 10px;
	float: left;
}

#my_surveys h2 {
	margin-top: .5em;
}

#my_surveys ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#my_surveys li {
	padding-bottom: 1ex;
}

#main_content {
	padding: 5px;
}

#main_content.with_side_bar {
	width: 512px;
	margin-left: 266px;
}

#search_box {
	float: right;
	width: 246px;
}

#invitation_list {
	float: right;
	width: 256px;
	margin-left: 10px;
}

#invitation_list h3 {
	margin-bottom: 0;
}

#invitation_list ol {
	padding-left: 1.5em;
	margin-top: 0;
	padding-top: 0;
}

#search_box input#search_text {
	width: 125px;
	padding: 5px;
	font-size: 1em;
	border: 1px solid #3f3f3e;
	background-color: #fefdfb;
}

div.link_bar {
	margin-bottom: 1.2857em;
}

div.link_bar a {
	font-size: 1.2857em;
	font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Franklin Gothic Std', 'ITC Franklin Gothic Std', 'ITCFranklin Gothic', Helvetica, Arial, sans-serif;;
	padding: 0 1em 0 0;
}
#end_break {
	clear: both;
}

ul.surveys {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div.description_box {
	color: #555;
	font-size: 1em;
}

ul.surveys h3 a {
	text-decoration: none;
	color: #333;
}

ul.surveys li {
	padding-bottom: 1.2857em;
}

ul.surveys li.odd {
	border-top: none;
}

div#invitations ul{
	padding: 0 0 .5em 0;
	margin-bottom: 1.5em;
	background: url('../images/embellish.gif') bottom center no-repeat;
}

ul#discussions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#discussions li {
	margin-bottom: .5em;
}

ul#discussions > li {
	margin-bottom: 1em;
}
ul#discussions ul {
	margin-left: 1em;
	list-style-type: none;
}

ul#discussions .subject {
	font-weight: bold;
}

ul#discussions .actions {
	margin-bottom: .25em;
} 


.abbrev {
	font-variant: small-caps;
}

span.sponsor {
	color: #888;
	font-size: .9em	;
}

span.sponsor a {
	color: #4e728b;
}

.description_box {
	color: #555;
	font-size: 1em;
}

.discussion_warning {
	font-style: italic;
	color: #666;
}

form#new_survey input {
	font-size: .9em;
}

form#new_survey input#survey_job_title {
	width: 500px;
	border: 1px solid #3f3f3e;
	background-color: #fffefc;
	padding: 5px;
	font-size: 1em;
}

form#new_survey textarea {
	font-size: 1.25em;
	width: 500px;
	border: 1px solid #3f3f3e;
	background-color: #fffefc;
	padding: 5px;
	font-family: helvetica;
	letter-spacing: .05em;
	font-weight: normal;
	font-size: 1em;
}

#standard_questions h4, #custom_questions h4 {
  margin: 1em 0 0 0;
}
#standard_questions, #custom_questions {
  margin-left: 1em;
}

#standard_questions ul, #custom_questions ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#custom_questions ul span.description {
  color: #666;
  font-style: italic;
}

#custom_questions label {
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: .05em;
  display: block;
  line-height: 20px;
  margin-top: 0.5em;
}

#custom_questions input#question_text {
  width: 350px;
  padding: 5px;
	font-size: 1em;
	border: 1px solid #3f3f3e;
	background-color: #fefdfb;
}

#custom_questions select#response_type {
  margin-top: 4px;
}

#custom_questions input#question_submit {
  margin-top: 4px;
}

p {
	margin-top: 0;
}

h2 {
	font-size: 1.4em;
	font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Franklin Gothic Std', 'ITC Franklin Gothic Std', 'ITCFranklin Gothic', Helvetica, Arial, sans-serif;
	color: #455349;
	font-weight: normal;
}

h3 {
	margin-bottom: 0;
	font-size: 1.142857em;
	line-height: .875;
	font-weight: normal;
	font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Franklin Gothic Std', 'ITC Franklin Gothic Std', 'ITCFranklin Gothic', Helvetica, Arial, sans-serif;
/*	'Adobe Garamond Pro', 'Adobe Garamond', 'AGaramond', 'Hoefler Text', 'Baskerville', 'Times New Roman', serif; */
}

h4 {
  font-size: 1.07142857em;
	font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Franklin Gothic Std', 'ITC Franklin Gothic Std', 'ITCFranklin Gothic', Helvetica, Arial, sans-serif;
	font-weight: normal;
}

a {
	color: #0c4572;
}

a:hover {
	color: #11609f;
}

a img {
	vertical-align: middle;
}
table th {
	text-align: left;	
}

label, div.label {
	display: block;
	margin-top: 1em;
	font-family: 'Franklin Gothic', 'Franklin Gothic Medium', 'Franklin Gothic Std', 'ITC Franklin Gothic Std', 'ITCFranklin Gothic', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
}

form div.box_container {
  overflow: hidden;
}

form div.box {
  float: left;
  margin-right: 10px;
}
