<% title "About Compsage" %>
<h2>About Compsage</h2>
<p>CompSage is a rapid response compensation survey service providing market-pricing pay surveys for one or two jobs
or employment practice and a specific comparison group. CompSage provides the benefits of independent third party data
collection, rapid turn-around of survey requests, and easy to use procedures for survey sponsors and participants. It is
an excellent way of gaining the pulse of the market for a position while avoiding breaches of data confidentiality or
taking on the legal risks of directly exchanging (i.e. "Ill tell you if you tell me.") pay information with labor market
competitors.</p>

<p>Questions and comments about the CompSageTM service are welcome. See our <%= link_to "contact page", home_path('contact') %>
for details on how to get in touch.</p>
