<% title "About Compsage" %>
<% breadcrumbs() %>
<h1>About Compsage</h1>
<p>CompSage is a 'rapid response' compensation survey service providing market-pricing pay surveys for one or two jobs and a specific comparison group. Offered by Denarius Human Resources, Inc. Survade provides the benefits of independent third party data collection, rapid turn-around of survey requests, and easy to use procedures for survey sponsors and participants. It is an excellent way of gaining the pulse of the market for a position while avoiding breaches of data confidentiality or taking on the legal risks of directly exchanging (i.e. "Ill tell you if you tell me.") pay information with labor market competitiors.</p>