<% title "About Compsage" %>
<h2>About Compsage</h2>
<p>CompSage is a secure online compensation survey tool that allows organizations to exchange compensation
  information in a legal manner. For additional details on how we provide this service, see
  <%= link_to "how it works", home_path('how') %>.</p>
  
  <h3>Legal Disclaimer</h3>
<p>CompSage facilitates the independent exchange of compensation and employment practice information between employers
with the objective of observing and promoting established safe harbor guidelines, specifically those issued by the U.S.
Department of Justice and Federal Trade Commission in 1996. CompSage services specifically promote and support the use
and observance of the following:</p>

<h4>Information Sharing</h4>
<p>CompSage enables independent third party facilitated exchanges of employment practice information. The CompSage
service specifically prohibits direct exchanges or conversations between employers through its services. Members of the
CompSage service should immediately report known or suspected abuses of this policy using the provided links or by
<%= link_to "contacting us", home_path('contact') %>.</p>

<h4>Independent Third Party</h4>
<p>CompSage features information exchange coordinated through an independent third party. No participant in a CompSage
survey has access to other participants’ information in a manner that can be directly attributed to another
participant.</p>

<h4>Non-exclusive Information</h4>
<p>CompSage survey participation is open to all firms. All participants receive summary reports with similar information
to the survey sponsor.</p>

<h4>Historical Data</h4>
<p>Information requested in all CompSage surveys is historical in nature &ndash; it is required to be at least 90 days
old.</p>

<h4>Aggregated Data</h4>
<p>Information submitted by individual organization participants in CompSage surveys is aggregated with that of all
other participants before being released for publication. Participant data is not disclosed in such a way that can be
attributed to another participant.</p>

<h4>Minimum Number of Participants Required</h4>
<p>A minimum of 5 firms must submit data to a CompSage survey for a survey report to be published. Further, individual
question response rates must exceed a minimum threshold whereby any data reported is completely anonymous. Furthermore,
no one participant makes up more than twenty-five percent of the total response data.</p>

<h4>Reason for Exchange</h4>
<p>CompSage survey sponsors and participants must agree as a condition of their sponsorship or participation that they
intend to use information obtained in a lawful manner and for the purpose making unilateral analysis and decisions about
their firm’s wages, benefits and employment policies.</p>

<p><em>CompSage is a service of HumInsight, Inc. HumInsight Inc. recommends appropriate legal counsel on all employment
  matters.</em></p>
