<% title "Contact Compsage" %>
<h2>Contact</h2>
<p>If you have any questions or comments, we would love to hear from you! Simply send us an email at
<a href="mailto:support@compsage.com">support@compsage.com</a> and we'll get back to you as fast as possible.</p>
