<% title 'Help' %>
<h2>Help</h2>
<div class="main_page help_page">
<ul class="toc">
  <li>Participating in a Survey
    <ul class="subsections">
      <li><a href="#matching">Matching your job with the survey job title and description</a></li>
      <li><a href="#asking">Asking a question of the survey sponsor</a></li>
      <li><a href="#responding">Responding to a survey</a></li>
    </ul>
  </li>
  <li>Viewing Survey Reports
    <ul class="subsections">
      <li><a href="#choosing">Choosing an annual or hourly wage format</a></li>
      <li><a href="#downloading">Downloading reports</a></li>
      <li><a href="#reporting">Reporting incorrect survey data</a></li>
    </ul>
  </li>
  <li>Designing a Survey
    <ul class="subsections">
      <li><a href="#sending">Sending invitations</a></li>
      <li><a href="#previewing">Previewing the survey questions</a></li>
      <li><a href="#billing">Billing</a></li>
      <li><a href="#status">Survey status</a></li>
    </ul>
  </li>
  <li>Networks
    <ul class="subsections">
      <li><a href="#creating">Creating a network</a>
      <li><a href="#joining">Joining a network</a>
      <li><a href="#leaving">Leaving a network</a>
      <li><a href="#removing">Removing members from a network</a></li>
      <li><a href="#changing">Changing the network manager</a></li>
    </ul>
  </li>
  <li>Accounts
    <ul class="subsections">
      <li><a href="#closing">Closing your account</a></li>
      <li><a href="#updating">Updating your account</a></li>
      <li><a href="#password">Changing your password</a></li>
    </ul>
  </li>
</ul>

<h3>Participating in a Survey</h3>

<a name="matching"></a>
<h4>Matching your job with the survey job title and description</h4>

<p>The first step to participating in a survey is to match one or more of your firm's jobs to the survey job. The job
titles will rarely be an exact match, so you will need to use the survey job's description and qualifications. Use these
details to find the jobs at your firm that best match the survey job. If you are unsure, you can ask the survey sponsor
for clarification.</p>

<a name="asking"></a>
<h4>Asking a question of the survey sponsor</h4>

<p>The anonymous discussion board allows you to ask questions of the survey sponsor. For example, you might need
clarification the survey job's description or qualifications. Beneath the survey job description you will find a heading
titled "Questions &amp; Clarifications". Click "Ask something now" to fill in a question. The survey sponsor will be
notified of your question, and you will be notified as soon as the question has been addressed. All organizations
participating in a survey can view these questions, and they are anonymous.</p>

<p>When filling out a question, be sure to be as clear and concise as possible. It is also very important that you do
not give away any personally identifiable information in your post. Your anonymity is critical to protecting the
integrity of your data.</p>

<a name="responding"></a>
<h4>Responding to a survey</h4>

<p>Click the "Respond Now" button on the survey information page. This will bring you to the response form which will
consist of a variety of different questions. Be sure to read the questions carefully before responding. You can change
your responses up until the participation deadline, but you cannot make further changes once the survey report has been
distributed.</p>

<p>The different types of questions a survey may ask have different requirements. Numeric and percent fields require
numeric data and do not allow text. Multiple choice questions require you to select only one of the provided answers.
Pay and wage response fields require currency values, and in many cases you must also select either annual or hourly
terms.</p>

<p>Some surveys include required questions. The survey sponsor decided that these questions are very important and that
you cannot participate in the survey unless you provide data for these questions.</p>

<p>Some survey questions will have follow-up questions that are indented and disabled initially. These questions are
related to the question above and they become enabled once you have responded to the parent question.</p>

<p>Many questions will have an "Add Comment" link. Use this comment field to clarify your response if you feel more
explanation is needed. These comments will show up on the final report and will be visible to everybody. Be sure that
you do not give away any personally identifiable information.</p>

<a name="viewing"></a>
<h3>Viewing survey reports</h3>

<p>Survey reports are made available once the participation deadline for the survey has passed and the survey has at
least five participants. If there were not enough participants, results will not be made available until the sponsor
invites more organizations. When only some questions have enough data to report, the sponsor may choose to either extend
the participation deadline or generate the report as is. Once the report is generated, all participants will receive an
email notifying them that results are available.</p>

<p>If you are logged in, the side bar on the left contains links to your recent reports. Clicking on the job title of
the survey you wish to view will take you directly to that report. On the bottom of the side bar is a link to all
results.</p>

<a name="choosing"></a>
<h4>Choosing an annual or hourly wage format</h4>

<p>Our reports default to showing wage data in annualized format. You can change this to hourly format by clicking on
the "Show wages in Hourly Format" link at the top of the report. Click the link again to change the data back to hourly
format. The wage format displayed on the page also affects the downloaded reports. For example, if you wish to download
a PDF copy of the report in hourly format, first change the displayed report from annual to hourly format.</p>

<a name="downloading"></a>
<h4>Downloading reports</h4>

<p>CompSage reports can be downloaded as PDF, Word, or Excel format. This makes it easy for you to format the report in
a way that is relevant for you and your organization. You will find the download links on the upper right of the report
page.</p>

<a name="reporting"></a>
<h4>Reporting incorrect survey data</h4>

<p>Sometimes you may suspect that a report contains data that is incorrect. A participant may have made a typo, matched
the wrong job, or entered data into the wrong fields. You can report incorrect data by clicking the "Suspect incorrect
data?" link at the bottom of the report page. You will be asked to fill out a short description of why you think the
data is incorrect. We will then review the raw data and determine if a data entry error has been made and, if necessary,
correct the data. All online reports will be updated to reflect any changes made, although downloaded reports will not
be updated.</p>

<h3>Designing a survey</h3>

<p>See our <%= link_to "tips for survey sponsorship", home_path('tips') %></p>

<a name="sending"></a>
<h4>Sending invitations</h4>

<p>Enter the name of the firm you want to invite and the email address of the compensation specialist. If the firm is
already a CompSage member, entering the email address is not necessary; you will receive a prompt to invite the firm
after entering its name. If the firm is not a member and you do not know the compensation specialist's email address,
you will need to contact the firm to get that information.</p>

<p>If you are a member of any networks, the networks will be listed on the left of the invitation page. You can invite
all members of a network by clicking on the '+' button next to the network name.</p>

<p>Invitations will be delivered via email once you submit your billing information. You may enter a custom invitation
message that will be included in the invitation email by clicking on 'Set a Custom Invitation Message'.</p>

<p>You are required to invite at least five firms to your survey.</p>

<a name="previewing"></a>
<h4>Previewing survey questions</h4>

<p>This is how your survey will be presented to participants. Verify the questions are worded as you want them, are in
the desired order, and have the appropriate response types. You may still edit the questions after the survey is
created, but changes cannot be made once survey responses have been collected.</p>

<a name="billing"></a>
<h4>Billing</h4>

<p>You can select to be billed via credit card or by invoice. If you select to be billed via credit card, you card will
be charged upon successful completion of the survey and and a receipt will be delivered via email. If you select to be
billed via invoice, you will receive an invoice via email upon successful completion of the survey.</p>

<a name="status"></a>
<h4>Survey status</h4>

<p>All of the surveys you are sponsoring will be listed under the 'My Surveys' section of the 'Surveys &amp; Results'
tab. The status of the survey is listed below the job title.</p>

<p><b>Running:</b> The survey is in progress. The number of participants and the time until the deadline are displayed with the
status. Click on the job title to edit the survey details, respond to the survey, or invite additional firms to
participate in the survey.</p>

<p><b>Stalled:</b> The survey deadline has passed, but the survey did not have at least five firms participate or not all
questions received enough responses to report data. Click on the job title to fix the error. Cancel the survey to remove
the survey and notify participants that results will not be available. Extend the survey deadline and invite additional
firms to increase participation. Or, if at least one question has enough responses to report results, finish the partial
survey. Questions that did not receive enough responses will be excluded from the report.</p>

<p><b>Expired:</b> The survey is over three weeks old and never completed successfully. Click on the job title to cancel the
survey.</p>

<p><b>Billing Error:</b> We were unable to successfully bill your credit card. Please contact us as soon as possible to resolve
the billing problems so results can be made available to you and the survey participants.</p>

<p><b>Finished:</b> Finished surveys are listed under the 'Recent Survey Results' section.</p>

<h3>Networks</h3>

<a name="creating"></a>
<h4>Creating a network</h4>

<p>Click on the "Create a New Network" link at the top of the Networks &amp; Contacts page. Choose a name that concisely
describes the types of firms you will be inviting to the network. For example, if you are planning to create a network
consisting of large healthcare firms serving the Minneapolis metro area, you could name the network "Large Healthcare
Firms, Minneapolis Metro Area". Use the optional network description to provide additional details about the network and
its purpose. Click the 'create' button to create the network.</p>

<p>Once you have created the network, you can invite other firms to join. For each firm, enter their name and email
address in the 'New Invitation' form and click 'Add'. The firm will be notified of the invitation by email. Note that
the invited firms do not become members of the network until they have accepted the invitation. When a firm has joined
the network, you will see their name listed in the 'Network Members' section.</p>

<p>As the creator of the network, you are both the manager and a member of the network. You may go back at any time and
invite additional firms to the network. You may also change the network name and description at any time by following
the 'Edit Network' link in the 'Network Activities' section.</p>

<a name="joining"></a>
<h4>Joining a network</h4>

<p>To join a network you must first be invited by the network manager. Once invited, you will receive an email
notification containing a link for you to join the network. Your network invitations will also be visible on the
Networks &amp; Contacts page. If you do not wish to join a network to which you are invited, you may decline the
invitation from the Networks &amp; Contacts page.</p</h4>

<a name="leaving"></a>
<h4>Leaving a network</h4>

<p>You may leave the network by clicking the 'Leave Network' link in the 'Network Activities' section. If you leave a
network in which you are the only member, the network will be deleted.</p>

<a name="removing"></a>
<h4>Removing members from a network</h4>

<p>In order to remove firms from a network, you must be the network manager. To remove a firm, go to the network page
and click on the remove link next to the name of the member you wish to remove.</p>

<a name="changing"></a>
<h4>Changing the network manager</h4>

<p>Follow the 'Edit Network' link in the 'Network Activities' section. Click on 'Change network manager' and select one
of the firms from the list and click the 'Update' button.</p>

<h3>Accounts</h3>

<a name="closing"></a>
<h4>Closing your account</h4>

<p>Please contact us if you wish to close your account.</p>

<a name="updating"></a>
<h4>Updating your account</h4>

<p>Log in and click on the 'Account Settings' link at the top right of the page. Make updates to any of the fields you
wish to change. Once you are satisfied with the changes, click the 'Update' button. Note that if you change your email
address, you will need to use the updated email address when logging in. If you wish to change the name of your firm,
please contact us.</p>

<a name="password"></a>
<h4>Changing your password</h4>

<p>Log in and click on the 'Account Settings' link at the top right. Click on the 'Change My Password' link at the
bottom of the form and enter the new password. Click the update button to save your changes.</p>
</div>
