<% title "How does CompSage Work?"
   highlight_tab "how" %>
<script type="text/javascript" src="javascripts/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="javascripts/lightbox.js"></script>
<div class="image_header"><%= image_tag 'how_banner.gif' %></div>
<div class="main_page">
  <div class="how">
  <p>CompSage is built around the understanding that compensation data is most relevant and useful when 
    you can ask <em>exactly the questions you need</em> and when you know <em>exactly who reported the data</em>. You can target your survey to specific industries, geographical regions, specific organizations, or anything else
    you need.</p>
  <h3>Becoming a member</h3>
  <p>Becoming a member of CompSage is entirely free of charge and without obligation. We require membership to sponsor
    surveys to ensure the integrity of your data.  To ensure that membership information is accurate, we personally
    verify the details provided on our <%=link_to "sign up form", has_key? ? new_account_path() : signup_path()%>.</p>
  <a href="images/how/questions_example.png" rel="lightbox[examples]" title="Creating a survey: Adding a question."><img src="images/how/question-thumb.png" alt="" class="howto-left" /></a>
  <h3>Sponsoring a survey</h3>
  <p>By sponsoring a survey, you can create a customized online compensation survey using our standard questions or questions of your own design. Sponsoring a survey is no risk and you will only be billed via credit card or invoice when a report is made available.</p>
  <a href="images/how/invitations_example.png" rel="lightbox[examples]" title="Creating a survey: Inviting peers."><img src="images/how/invitation-thumb.png"  alt="" class="howto-right" /></a>
  <h3>Invite your peers to respond</h3>
  <p>You choose who is invited to your survey. You provide contacts' email addresses, names, or choose from networks of peers. We send the invitations on your behalf.</p>
  <a href="images/how/response_example.png" rel="lightbox[examples]" title="Responding to a survey."><img src="images/how/response-thumb.png" alt="" class="howto-left" /></a>
  <h3>Gather data</h3>
  <p>Your peers have a few days to respond to your survey, during which they may ask for clarification and ask questions about the survey. We assure the integrity and <%= link_to "legality", home_path('about')%> of the collected data. Once the participation deadline has passed, a report will be generated and distributed automatically. If not enough data has been gathered to report data anonymously, you will be given the opportunity to re-run the survey or cancel the survey at no cost.</p>
  <a href="images/how/report_example.png" rel="lightbox[examples]" title="Viewing a report for a survey."><img src="images/how/report-thumb.png" alt=""  class="howto-right"/></a>
  <h3>See the results</h3>
  <p>CompSage will present a concise and organized graphical report to you and the survey participants. Each report can be viewed in your browser or downloaded in Microsoft Word, Excel or PDF format. Data security and integrity is guaranteed.</p>

  <p>Still have questions? <%= link_to "Drop us a line", home_path('contact') %> and we'll get back to you!</p> 
  </div>
</div>
