<% title "How does CompSage Work?"
   highlight_tab "how"
   breadcrumbs() %>

<h2>How does CompSage work?</h2>
<h3>First: Create a survey.</h3>
<p>Select wage, compensation, benefit and other questions defined by us or create your own questions based on your criteria.
</p>
<h3>Next: Invite your peers to respond.</h3>
<p>
Compsage allows you to select from networks of your peers, individuals, or provide email addresses of acquaintances or find peer companies through our application by name, location, branch or region.
</p>
<h3>Then: Gather Data.</h3>
<p>
Your peers have 3-7 days to respond to your survey. During this time, peers are given an opportunity to anonymously seek clarification and pose questions about the job in question. Once that time period has elapsed your data will be aggregated and reported by us. 
</p>
<h3>Finally: See the results.</h3>
<p>
As soon as your data is available, our product will present a clear and concise report, available to you and peers who provided data for the survey. Data security and integrity is guaranteed.
</p>
<h3>What is the cost?</h3>
<p>The best part about the CompSage application is that a charge is only applied you receive the desired results. If an inadequate number of peers respond, or certain questions are not answered, you are given the option to try again. When you do achieve the required results, we allow secure payment via <%=link_to "Authorize.net", "http://www.authorize.net/"%> gateway.
<h3>How can I join?</h3>
<p>To guarantee the integrity of our data, we require a brief but thorough screening process before joining. <%=link_to "Request to sign up now!", signup_path%></p>