<% title "How does CompSage Work?"
   highlight_tab "how" %>
<div class="image_header"><%= image_tag 'how_banner.gif' %></div>
<div class="main_page">
  <p>CompSage is built around the understanding that compensation data is most relevant and useful when 
    you can ask <em>exactly the questions you need</em> and when you know <em>exactly who reported the data</em>. This
    allows you to target your survey to specific industries, geographical regions, direct competitors, or anything else
    you need.</p>
  <h3>Becoming a member</h3>
  <p>Becoming a member of CompSage is entirely free of charge and without obligation. We require membership to sponsor
    surveys to ensure the integrity of your data.  To do this, we personally verify all applications. Fill out our simple
    <%=link_to "sign up form", has_key? ? new_account_path() : signup_path()%>, it only takes a few seconds!</p>
  <h3>Sponsoring a survey</h3>
  <p>Sponsoring a survey allows you to create a customized online compensation survey using our standard questions or
    questions of your own design. Sponsoring a survey is no risk and you'll only be billed when a report is made
    available.</p>
  <h3>Invite your peers to respond</h3>
  <p>CompSage allows you to choose who responds to your survey. Enter your contacts' email addresses, or browse
    CompSage members to find organizations in your industry or region.</p>
  <h3>Gather data</h3>
  <p>Your peers have a few days to respond to your survey. During this time, they may ask for clarification and
    pose questions about the survey. Once the participation deadline has passed, a report will be generated. If not
    enough data has been gathered to report data anonymously, you will be given the opportunity to re-run the
    survey.</p>
  <h3>See the results</h3>
  <p>Once the participation deadline has passed, CompSage will present a clear and concise report to you and peers who
    provided data for the survey. Data security and integrity is guaranteed.</p>

  <p>Still have questions? <a href="mailto:support@compsage.com">Drop us a line</a> and we'll get back to you!</p> 
</div>
