<% title "Privacy Policy" %>
<h2>Compsage Privacy</h2>
<p>We respect the privileged nature of the information we share, and we take all possible steps to protect your data.
Your personal information will never be shared with third parties. Because of the nature of CompSage, we must collect
reasonable information in order to provide our service. What information we collect and how we use it is detailed in the
following sections.</p>

<h3>Information Collection</h3>
<p>When using the website, we may collect a variety of information.</p>
<p>If you want to create an account with us, we will collect the name of your organization, your name, your email
address, and a phone number. This will allow us to contact you to verify the details you have provided and set up your
account.</p>
<p>When filling out our contact form, we will collect your name, email address, and phone number. This information is
needed in order to contact you in response to your query and will not be used for any other purpose.</p>
<p>When you create an account with CompSage, we will collect such information as necessary to identify your organization
to others. This includes your firm's name, your name, and your location. These items will be displayed to other users of
the system. Additionally, we may collect demographic information about your firm, such as number of employees and
industry. These demographics will allow other firms to find your firm by demographic areas. While we recommend providing
demographic information where possible, giving us this data is optional. We will also collect your email address and
other contact information.</p>
<p>Responding to a CompSage compensation survey will collect a variety of sensitive information about your firm's
compensation practices. This information includes, but is in no means limited to, base wage and pay range, bonus
incentives, FLSA status, and union status for a specific position at your company.</p>
<p>In order to facilitate payment for a survey, we must collect necessary information for our billing processes. This
includes your contact information and billing address, and may include credit card information.</p>

<h3>Communication</h3>
<p>We will use the email address you provided us to send you messages from the CompSage system pertaining to your
account. For example, we will notify you via email of any new survey requests, and the status of any surveys that you
are running.</p>
<p>We may also use your email address in order to send you important announcements about the service on rare occasions.
This is merely to keep you informed about the service, and will not be used for marketing purposes.</p>
<p>We may offer newsletters which can be subscribed to on an opt-in basis. If you choose to opt in, we will send you
email on a regular or semi-regular basis. You may opt out of this communication at any time.</p>
<p>We will also send email on your behalf when it is necessary to do so. This includes when you sponsor a survey. We
will send emails to the survey invitees that will contain a message from us and will also include your email address so
invitees can get in contact with you directly.</p>

<h3>Cookies</h3>
<p>CompSage makes use of cookies, like most websites today. These cookies allow us to identify you and provide you with
a better service. Specifically, cookies allow us to recognize you and give you personalized content, log you in to the
service, remember your passwords, and so forth. Cookies are necessary to our service.</p>
<p>We also use cookies from a third party to track strictly non-personally identifiable information about your usage of
our website. This allows us to gather statistics on the usage of various parts of our website and approve our service.
We do not have access to or control over these cookies.</p>

<h3>Information Use</h3>
<p>Any information provided to us is used strictly by us and held in confidence, and we will never share personally
identifiable information with third parties without your consent.</p>
<p>We will use your email address and other contact information in order to contact you when necessary or when you have
specifically allowed us to do so. We may also provide minimal contact information to other CompSage members on your
behalf. This information will not be browsable or searchable on our website, but in certain specific cases it is
necessary that they receive your contact information. For example, when you sponsor a survey, the participants you
invite will receive a copy of your email address so they can verify directly with you the validity of the survey
request. Sharing this information is only done on your behalf, and you always have control over who will receive the
information.</p>
<p>The data provided to us on our compensation surveys will be aggregated with all the other data provided in that
survey. We will then determine a variety of statistics and metrics based on this data and distribute a report containing
this aggregate information to you and all survey participants. This report will also contain your firm's name and
location, and possibly some demographic information that you have provided us. None of the sensitive information
provided will be personally identifiable, and in this regard, we comply with the Federal Safe Harbor guidelines.</p>
<p>Information provided to facilitate our billing process, including your billing address, will be used strictly for
our billing process. If you choose to be invoiced, you may receive an invoice in the mail. If you pay by credit card,
the credit card information you provide is used for the single transaction and then destroyed. We will not store your
financial information any longer than is required.</p>

<h3>Sharing Information with Third Parties</h3>
<p>CompSage will never share your personally identifiable information with third parties. We may aggregate a collection
of data, including yours, in such a way that your information is not in any way identifiable and share that with third
parties. We consider your privacy of utmost important, and will not share any information that is in any way sensitive
with third parties.</p>

<h3>Security</h3>
<p>We take reasonable precautions to ensure that your data from security threats. Sensitive information collected
through our surveys is sent to us using high grade secure socket layer (SSL) encryption. Our server is secured and
behind a firewall. We actively monitor our server for security threats.</p>

<h3>Updates</h3>
<p>We reserve the right to update this document at any time. If we do update this document, we will inform you via email.</p>

<h3>Contact</h3>
<p>If you have any questions about this privacy policy, contact us at
<a href="mailto:contact@compsage.com">contact@compsage.com</a> or use our <a href="/contact">Contact Form</a>.

