<% title "Privacy Policy" %>
<h2>Compsage Privacy</h2>
<p>CompSage guarantees the privacy and integrity of your data. Personally identifiable information is treated with the
utmost secrecy. Data is only reported in the aggregate, and with sufficient datapoints such that any one individual
response cannot be determined.</p>
<p>We will not share any of your personally identifiable information such as name, email address or any reported data
with anyone. We greatly respect your privacy and we will not spam you.</p>
<p>If you have any questions about how your data is used, please 
<a href="mailto:support@compsage.com">contact us</a>.</p>
