<% title "Terms of Use" %>
<h2>Terms of Use</h2>
<p>
The following terms and conditions ("Terms") govern all use of the CompSage.com website and all content and services available at or though the website, hereby referred to as the "Service". CompSage.com is owned and operated by <a href="http://www.HumInsight.com">HumInsight, Inc</a> ("HumInsight").
</p>
<h4>Acceptance of Terms</h4>
<p>
By accessing or using any part of the Service, you agree to comply to all Terms. If you do not agree to comply to all Terms, then you may not access the Service. 
</p>
<h4>Modifications to the Terms</h4>
<p>
HumInsight reserves the right, at its sole discretion, to modify or replace any part of these Terms. You must review these Terms on a regular basis to check for changes.
</p>
<h4>Content</h4>
<p>
HumInsight is not responsible for the validity and accuracy of any content posted on the Service by third parties. You understand that the validity and accuracy of the content made available through Service is the sole responsibility of the content provider. You agree to be entirely responsible for the validity and accuracy of any content that you make available through the Service. You agree that any content you make available through the Service is valid and accurate to the best of your knowledge. HumInsight shall have the right (but not the obligation) to delete any content from the Service that violates these Terms. You acknowledge that any content you make available through the Service becomes the property of HumInsight and may be utilized in any manner described in the <%= link_to "privacy policy", home_path('privacy') %>.
</p>
<h4>User Conduct</h4>
<p>
As a condition of use, you promise not to use the Service for any purpose that is unlawful or prohibited by the Terms, or any other purpose not reasonably intended by HumInsight. You agree that:
<ol>
  <li>
  You have authorization from the organization that you represent to share any content you make available through the Service on its behalf.
  </li>
  <li> 
  You will not use the Service in a manner that violates the safe harbor guidelines issued by the U.S. Department of Justice and Federal Trade Commission. 
  </li>
  <li> 
  You will preserve the anonymity of you and other users when posting a question or clarification to a survey or responding to a survey. 
  </li>
  <li> 
  You will not provide compensation information when posting a question or clarification to a survey. 
  </li>
  <li> 
  You will not spam or harass any of the other users of the Service. 
  </li>
  <li> 
  You will not sell your account.
  </li>
  <li> You will not use any robot, spider, scraper, or any other automated means to access the Service without express written permission from HumInsight. 
  </li>
  <li> 
  You will not engage in any activity that interferes with or disrupts the Service (or the servers and networks which are connected to the Service).
  </li>
</ol>
</p>
<h4>Limitations on Service</h4>
<p>
You agree that HumInsight is not responsible or liable for the deletion of content or failure to retain content from the Service. You acknowledge that HumInsight reserves the right at any time to modify or discontinue the Service.
</p>
<h4>Termination of Service</h4>
<p>
HumInsight has the right (but not the responsibility) to remove your account if you violate the Terms. You acknowledge that HumInsight may retain data provided under your account after removal. This includes, but it not limited to the following: survey responses, questions or clarifications, and billing information. HumInsight has no obligation to provide you with the results of any surveys participated in or sponsored after the removal of your account.
</p>
<h4>Disclaimer of Warranties</h4>
<p>
The Service is provided "as-is". You agree to use the Service at your own risk. HumInsight makes no warranty regarding the information acquired through the Service.
</p>
<h4>Limitations of Liability</h4>
<p>
In no event will HumInsight be liable for lost profits, salary, special or consequential damages caused by the use of the Service or the inability to use the Service. In no event will HumInsight be liable for any damages incurred from use of the Service in a manner that is illegal. The foregoing shall not apply to the extent prohibited by applicable law.
</p>
<h4>Privacy</h4>
<p>
The Service's current privacy policy is available <%= link_to "here", home_path('privacy') %>, which is incorporated by this reference.
</p>
<h4>Registration Obligations</h4>
<p>
When registering an account with the Service you shall provide accurate and complete information. You agree to update this information to keep it accurate and complete. You agree you are an agent of the organization for which you are registering and have the authority or consent of the organization to register on its behalf.
</p>
<h4>Account Security and Password</h4>
<p>
You agree and understand that your are responsible for the confidentiality of the passwords associated with any account you use to access the Service. You agree that you will be solely responsible for all activities that occur under your account.
</p>
<h4>Indemnity</h4>
<p>
You agree to indemnify and hold HumInsight, its officers, directors, and employees harmless from any claim or demand, 
including reasonable attorney fees and court costs arising from your use of the Service, including but not limited to your violation of these Terms.
</p>
