<% title "Survey Tips" %>
<h2>Tips for Survey Sponsorship</h2>
<p>The following are general guidelines that will help you get the best survey results possible.</p>
<h3>Job Description</h3>
<ul class="normal">
  <li>Be as concise as possible. Only include key job responsibilities. Avoid copying large sections of an
  existing job description.</li>
  <li>Be careful terms and jargon specific to your firm that others will not understand.</li> 
  <li>Include required qualifications. Do not include boilerplate qualifications that do little to describe
  the job.</li>
</ul>
<h3>Participation Deadline</h3>
<ul class="normal">
  <li>A participation deadline more than a week out does not usually improve response rates. You can
  extend the deadline if you do not get enough responses.</li>
  <li>It is good to include a weekend in your participation window. This gives colleagues who are out of the
  office a chance to respond.</li>
  <li>Consider any periods of time during which many of your colleagues are likely to be out of the office.</li>
</ul>
<h3>Survey Questions</h3>
<ul class="normal">
  <li>Take advantage of our standard questions where possible.</li>
  <li>When writing your own questions, be sure they will be understood by all of your colleagues. Test the
  question with a colleague in your organization to be sure it is understandable.</li>
  <li>Use follow-up questions to get more detail about participants' practices. Follow-up responses are only
  accepted when the parent question is answered.  Follow-up responses to a yes or no question are only accepted
  when the parent response is yes.</li>
  <li>Use required questions to ensure you get the data you need. Marking a question as required will not allow a firm
  to become a participant without responding to that question.</li>
</ul>
<h3>Invitation List</h3>
<ul class="normal">
  <li>Five responses are required in order for a report to be produced, and a larger invitation pool will help guarantee
  enough responses will be collected. Make it your objective to build a large network of contacts over time.</li>
  <li>When sending invitations and building networks of your contacts, take advantage of your informal network and
  established organizations or associations that regularly publish member directories.</li>
</ul>
