<li>
  <div class="invitation_description">
  <p><span class="label">Network: </span><%=network_invitation.network.name%></p>
  <p><span class="label">Inviter: </span><%=link_to(network_invitation.inviter.name,organization_path(network_invitation.inviter.id))%></p>
  </div>
  <div class="invitation_actions">    
    <%=link_to "Accept", join_network_path(network_invitation.network), :method => :put%>
    <%=link_to "Decline", invitation_path(network_invitation), :method => :delete %>
  </div>
</li>
