<li>
  <div class="invitation_description">
  <p><%=link_to(survey_invitation.survey.job_title,survey_path(survey_invitation.survey.id))%></p>
  <p><span class="label">Inviter: </span><%=link_to(survey_invitation.inviter.name,organization_path(survey_invitation.inviter.id))%></p>
  </div>
  <div class="invitation_actions">    
    <%=link_to "Take Survey", survey_questions_path(survey_invitation.survey)%>
    <%=link_to "Decline", invitation_path(survey_invitation), :method => :delete %>
  </div>
</li>
