<%  title "Editing #{@predefined_question.name}" 
    highlight_tab "settings"%>
<h2>Editing <%=@predefined_question.name%></h2>
<%=render :partial => "predefined_question_form", :locals => { :predefined_question => @predefined_question,
                                                              :question => @question } %>