<% form_tag(create_with_network_survey_invitations_path(@survey), :method => :get) do |f| %>
  <p>  
    <label>Invite a Network:</label>
    <%= collection_select(:invitation, :network_id, current_organization.networks, :id, :name, {:prompt => 'Select a Network'}) %>
  </p>
  <p>
    <input type="submit" value="Send" />
    <%=link_to "Done", survey_path(@survey) %>
  </p>
<% end %>  
<%= render :partial => "invitations/invitation_form", :locals => {
  :url => survey_invitations_path(@survey), 
  :done => survey_path(@survey)
}%> 
