<li>
	<div><%=link_to my_survey.job_title, survey_path(my_survey)%></div>
	<div>
		<% if my_survey.sponsor == current_organization then %>
			Sponsored by you.
		<% else %>
			Sponsored by <%=my_survey.sponsor.name%>.
		<% end %>
	</div>
	<div>
		<% if my_survey.running? then %>
			Running (<%=distance_of_time_in_words_to_now(my_survey.end_date)%> left)
		<% elsif my_survey.stalled? then %>
			Insufficient Participation
		<% elsif my_survey.finished? then %>
			Finished, results available.
		<% end %>
	</div>
</li>