<div class="tutorial">
  <h2>Welcome to CompSage!</h2>
  <p>So, what's next? <%= link_to "Sponsoring a survey", new_survey_path %> is fast and easy. Just click the button
  above to get started.</p>
  <p>You can browse for surveys to participate in below. Participation in any survey will give you results for free!</p>
  <p>Your survey results will show up on the left once you've been sent a report. Your reports can be viewed through
  your account on this website at any time.</p>
  <p>Creating <%= link_to "networks of your peers", networks_path %> makes it easy for you to survey them and for them
  to survey you. Click the Networks &amp; Contacts to begin using networks.</p>
</div>
