<%title "Editing Survey #{@survey.job_title}"%>
<% breadcrumbs(link_to("Surveys",surveys_path), link_to(@survey.job_title,survey_path(@survey))) %>
<% highlight_tab("surveys") %>
<h2>Edit Survey</h2>

<%=render(:partial => "survey_form", :locals => { 
   :predefined_questions => @predefined_questions, 
   :custom_questions => @custom_questions
  }) 
%>
 
