<% title "New Survey" %>
<% breadcrumbs(link_to("Surveys",surveys_path)) %>
<% highlight_tab("surveys") %>
<h2>New Survey</h2>

<%=render(:partial => "survey_form", :locals => { 
   :predefined_questions => @predefined_questions, 
   :custom_questions => @custom_questions
  }) 
%>
  
