<% title "New Invitation" %>
<% breadcrumbs() %>
<h2>New Invitation</h2>
<p>
Upon submitting an invitation, the invitee will receive an email notification including a link
for signing up.
</p>
<%=error_messages_for :external_invitation%>
<%=flash_messages%>
<%= render :partial => "external_invitations/external_invitation_form"  %>
