<% title "Invitations to #{@network.name}" %>
<% highlight_tab("networks") %>
<h2>Invitations to <%=@network.name%></h2>

<%= render :partial => "invitations/invitation_form", :locals => {
  :include_networks => false
}%> 

<div class="separator"><%=image_tag 'embellish.gif' %></div>
<div id="survey_finish_links">
		<%=link_to "Finished", network_path(@network)%>
</div>
