<% title "Invitations to #{@network.name}" %>
<% highlight_tab("networks") %>
<h2>Send Invitations to <%=@network.name%></h2>

<div class="separator"><%=image_tag 'embellish.gif' %></div>
<div id="survey_finish_links">
  <%=link_to "Finished", network_path(@network)%>
</div>
