<li>
  <div class="organization_thumbnail">
    <!--TODO-->
  </div>
  <div class="organization_name">
    <%=link_to organization.name, organization_path(organization.id)%>
  </div>
  <div class="organization_description">
    <%if !organization.location.blank? then%><%=organization.location%>: <% end %>
    <%if !organization.city.blank? then%><%=organization.city%>, <% end %>
    <%if !organization.state.blank? then%><%=organization.state%><% end %>
  </div>
  <div class="organization_actions">
    <!--TODO-->
  </div>
</li>
