<h2>Members</h2>
<h3>Search Members</h3>
<%=flash_messages%>
<%= render :partial => "search_form" %>
<h3>Search Results</h3>
<% if @organizations.size == 0 then %>
  <p>Your search returned zero results</p>
<% else %>
  <!--TODO: Sorting an pagination-->
  <ul id="organizations">
    <%= render :partial => "organization", :collection => @organizations %>
  </ul>
<% end %>
