<% title "Search Members" %>
<% breadcrumbs(link_to("Members",organizations_path)) %>
<% highlight_tab "members" %>
<h2>Search Members</h2>
<%=flash_messages%>
<%= render :partial => "search_form" %>
<h3>Search Results</h3>
<% if @organizations.size == 0 then %>
  <p>Your search returned zero results</p>
<% else %>
  <ul id="organizations" class="entity_list">
    <% @organizations.each_with_geodist do | organization, geodist | %>  
      <%= render :partial => "organization", :object => organization, :locals => {:geodist => (geodist/1609.344).round(1) } %>
    <% end %>
  </ul>
  <%= will_paginate @organizations %>
<% end %>
