<div class="report_item">
  <h3><%=question.text%></h3>
  <% if question.options.size == 2 then %>
    <%=chart('pie', url_for(chart_survey_report_path(:question_id => question.id)), :dimensions => 3)%>
  <% else %>
    <%=chart('bar', url_for(chart_survey_report_path(:question_id => question.id)))%>
  <% end %>
  <%= render :partial => "qualifications", :object => question.qualifications, :locals => {:question => question} %>
</div>
