<%=flash_messages%>
<% title "Forgot your password?" %>
<% breadcrumbs() %>
<h2>Forgot your password?</h2>
<p>Forgot your password? Enter your login email below. We will send you an email with a link to reset your password. You have five days to do so before the link will expire.</p>
<% form_tag forgot_account_path do -%>
<p><label for="email">Email</label><br />
<%= text_field_tag 'email' %></p>
<p><%= submit_tag 'Reset Password' %></p>
<% end -%>