<% title "New Account" %>
<% highlight_tab "join" %>
<h2>New Account</h2>
<%= flash_messages %>
<p>Until September 1st, sponsoring a CompSage compensation survey is completely free!</p>
<p>Join CompSage instantly and without any cost. Simply fill out the form below to create your account.  Then, you'll
have easy access to compensation surveys in your area and you can sponsor surveys of your own design.</p>
<%= render :partial => "accounts/account_form", :locals => { :external_invitation => @external_invitation, :pending_account => @pending_account } %>
